<!DOCTYPE html>
<html lang="fr">
<head>
    {% block page_title %}
        <title>Mon Site</title>
    {% endblock %}
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ asset("css/styles.css") }}">
        </head>
        <body>
        <header>
            <div id="titre" class="center">
                <a href="{{ path('feed') }}"><span>The Feed</span></a>
                <nav>
                    <a href="{{ path('feed') }}">Accueil Feed</a>
                    {% if is_granted('ROLE_USER') %}
                        <form method="post" action="{{ path('deconnexion') }}">
                            <button id="btn-deconnexion">Déconnexion</button>
                        </form>
                        <form method="GET" action="{{ path('pagePerso', {'login' : app.user.login}) }}">
                            <button id="btn-deconnexion">Ma Page</button>
                        </form>
                    {% else %}
                        <a href="{{ path('inscription') }}"><span>Inscription</span></a>
                        <a href="{{ path('connexion') }}"><span>Connexion</span></a>
                    {% endif %}
                </nav>
            </div>
        </header>
        <div id="flashes-container">
    {% for flashMsg in app.flashes("success") %}
            <!-- Pour chaque message du type "success" -->
            <span class="flashes flashes-success">{{ flashMsg }}</span>
    {% endfor %}
    {% for flashMsg in app.flashes("error") %}
            <!-- Pour chaque message du type "error" -->
            <span class="flashes flashes-error">{{ flashMsg }}</span>
    {% endfor %}
        </div>
    {% block page_content %}
    {% endblock %}
        </body>
</html>